@import helper._ 

@main("loginform") {


<form method="GET" action="estimator/1">


	<fieldset>
		<legend>Login Details</legend>

		<div class="clearfix  " id="name_field">
			<label for="name">User Name</label>
			<div class="input">

				<input type="text" id="name" name="name" value=""> <span
					class="help-inline"></span> <span class="help-block">Required</span>
			</div>
		</div>
		<div class="clearfix  " id="title_field">
			<label for="title">Password</label>
			<div class="input">

				<input type="text" id="title" name="title" value=""> <span
					class="help-inline"></span> <span class="help-block">Required</span>
			</div>
		</div>
		<div class="clearfix  " id="email_field">
			<label for="email">First Name</label>
			<div class="input">

				<input type="text" id="email" name="email" value=""> <span
					class="help-inline"></span> <span class="help-block">Required</span>
			</div>
		</div>

		<div class="clearfix  " id="organization_field">
			<label for="organization">Last Name</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>

		<div class="clearfix  " id="organization_field">
			<label for="organization">Affiliation</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">Email</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">Research Area</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">Goal</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">Algo</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">Budget Concerns</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>
		
		<div class="clearfix  " id="organization_field">
			<label for="organization">AWS Familiarity</label>
			<div class="input">

				<input type="text" id="organization" name="organization" value="">

				<span class="help-inline"></span> <span class="help-block"></span>
			</div>
		</div>

	</fieldset>


	<div class="actions">
		<input type="submit" class="btn btn-primary"
			value="Login"> <a href="#" class="btn"></a>
	</div>


</form>
}