@(message: String)

<!DOCTYPE html>

<html>
<head>

<title>About Us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/bootstrap.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/navbar-fixed-top.css")'>
<link rel="stylesheet"
	href='@routes.Assets.at("stylesheets/custom.css")'>
<link rel="stylesheet" media="screen"
	href='@routes.Assets.at("stylesheets/main.css")'>
<link rel="shortcut icon" type="image/png"
	href='@routes.Assets.at("images/favicon.png")'>



<link
	href='@routes.Assets.at("stylesheets/bootstrap-editable.css")'
	rel="stylesheet" />
<!--[if (!IE)|(gte IE 8)]><!-->
  <link href='@routes.Assets.at("stylesheets/visualsearch-datauri.css")' media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
  <link href='@routes.Assets.at("stylesheets/visualsearch.css")' media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->

<script src='@routes.Assets.at("javascripts/jquery-1.9.0.min.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/jquery-ui-1.10.4.min.js")'
	type="text/javascript"></script>
	
<script src='@routes.Assets.at("javascripts/bootstrap.min.js")'
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/bootstrap-editable.min.js")' 
	type="text/javascript"></script>
	
<script src='@routes.Assets.at("javascripts/underscore-1.5.2.js")' 
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/backbone-1.1.0.js")' 
	type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/visualsearch.js")' 
	type="text/javascript"></script>
</head>

@main("Welcome to Play") {
   <h1>About Us</h1>
   <h3>Project Overview</h3>
   <p>Sensor Data Platform is a platform to display sensor data in CMU-SV's sensor networks and an integration of many platforms like Virtual Sensor Editor, Mobile Sensor Platforms</p>
   <h3>Current Contributors</h3>
   <p>Lyman Cao <a href="www.linkedin.com/in/lymancao">LinkedIn</a></p>
   <p>Ting Yu <a href="www.linkedin.com/pub/ting-yu/6a/76a/50b/">LinkedIn</a></p>
   <p>Anubhav Aeron</p>
   <p>Geetima Rai</p>
   <h3>Other Contributors</h3>
   <p>Bo Liu: build API interface for CMUSV Sensor Data and Service Platform</p>
   <p><a href="https://github.com/cmusv-sc/ArchF2013-Project2-FT#23">Current API: API v1.3</a></p>
   <p><a href="https://github.com/SensorServicePlatform/APIs/tree/v1.1">Previous API: API v1.1</a></p>
   <h3>Advisors</h3>
   <p>Jia Zhang</p>
   <p>Bob Iannucci</p> 
   <h3>Previous Contributors</h3>
   
   <h3>Background</h3>
   <h3>PUBLICATIONS FULL LIST</h3>
   <b>2014</b>
   <p>1. J. Zhang, C. Lee, S. Xiao, P. Votava, T.J. Lee, R. Nemani and I. Foster, "A Community-Driven Workflow Recommendations and Reuse Infrastructure", accepted by The 8th IEEE International Symposium on Service-Oriented System Engineering (SOSE 2014).</p>
   <p>2. J. Zhang, D. Kuc, and S. Lu, "Confucius: A Tool Supporting Collaborative Scientific Workflow Composition", IEEE Transactions on Services Computing (TSC), 7(1), Jan.-Mar, 2014.<a href = "http://www.andrew.cmu.edu/user/jiaz/Papers/JiaZhang-Confucius-TSC.pdf">[pdf]</a></p>
   <b>2013</b>
   <p>3. J. Zhang, Z. Li, O. Sandoval, N. Xin, Y. Ren, B. Iannucci, M. Griss, S. Rosernberg, R.A. Martin, J. Cao, A. Rowe, "Supporting Personizable Virtual Internet of Things", in Proceedings of The 10th IEEE International Conference on Ubiquitous Intelligence and Computing (UIC-2013), Dec. 18-20, 2013, Vietri sul Mare, Italy.<a href = "http://www.andrew.cmu.edu/user/jiaz/Papers/JiaZhang-VirtualSensorEditor.pdf">[pdf]</a></p>
   <p>4. J. Zhang, N. Radia, Z. Li, N. Xin, Y. Ren, P. Sachdeva, P. Subramanyam, S. Hu, S. Luan, L. Lee, B. Xing, D. Li, J. Cao, T. Selker, B. Iannucci, M. Griss, A. Rowe, "An Infrastructure Supporting Considerate Sensor Service Provisioning", in Proceedings of the 6th IEEE International Conference on Service Oriented Computing and Applications (SOCA 2013), Dec. 16-18, 2013, Kauai, HA, USA.<a href="http://www.andrew.cmu.edu/user/jiaz/Papers/JiaZhang-SocialSensors.pdf">[pdf]</a></p>
}