@(devices: List[metadata.Device], deviceForm: play.data.Form[metadata.Device])

@import helper._

@main("Devices") {
    
    @flash_message()
    
    <h1>@devices.size() Devices(s)</h1>
		<table class="table table-striped table-bordered table-condensed">
			<tr>
	    	<td>URI</td>
	    	<td>Device Type</td>
	    	<td>Registration Time</td>    	
	    </tr>

    	@for(device <- devices) {
    	<tr>
            <td>@device.getUri()</td>
            <td>@{ 
							val deviceType = device.getDeviceType()
							if(deviceType!=null) deviceType.getDeviceTypeName()
							}
						</td>
						<td>@device.getRegTimestamp()</td>
    	</tr>
        }
    </table>
    
    <h2>Add a new device</h2>
    
    @form(routes.DeviceController.newDevice()) {
        
        @inputText(deviceForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}