
@(deviceTypes: List[metadata.DeviceType], deviceTypeForm: play.data.Form[metadata.DeviceType])

@import helper._

@main("DeviceTypes") {
    
    @flash_message()
    
    <h1>@deviceTypes.size() Devices Type(s)</h1>
    <table class="table table-striped table-bordered table-condensed">
	    <tr>
	    	<td>Device Type Name</td>   
	    	<td>Manufacturer</td>
	    	<td>Version</td>
	        <td>deviceTypeUserDefinedFields</td>
	    	<td>sensorTypeNames</td>
	    						
	    	@if(session.get("email")){
	    		<td>Operation</td>
	    	}
	    </tr>

    	@for(deviceType <- deviceTypes) {
    	<tr>
            <td>@deviceType.getDeviceTypeName()</td>
            <td>@deviceType.getManufacturer()</td>
            <td>@deviceType.getVersion()</td>
	    	<td>@deviceType.getDeviceTypeUserDefinedFields()</td>
	    	<td>@deviceType.getSensorTypeNames()</td>
            @if(session.get("email")){
            		<td>
             			@form(routes.DeviceTypeController.deleteDeviceType()){
               		 		<input name="idHolder" type="hidden" value="@deviceType.getId()">
        							<input type="submit"  class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
            			}
               			
            		</td>
            }
    	</tr>
        }
    </table>
    
    @if(session.get("email")){
    <h2>Add a new device type</h2>

    @form(action = routes.DeviceTypeController.newDeviceType()) {
        
            @inputText(
                deviceTypeForm("deviceTypeName"), 
                '_label -> "Name",                 
                '_error -> deviceTypeForm.globalError                                
            )
            @inputText(
                deviceTypeForm("manufacturer"), 
                '_label -> "Manufacturer", 
                '_error -> deviceTypeForm.globalError                                
            )
            @inputText(
                deviceTypeForm("version"), 
                '_label -> "Version",
                '_error -> deviceTypeForm.globalError                                
            )
      
        <div class="actions">
            <input type="submit" class="btn primary" value="Register">
            <a href="@routes.DeviceTypeController.deviceTypes()" class="btn">Cancel</a>
        </div>
        
    }
		}
}