@(devices: List[metadata.Device], deviceForm: play.data.Form[metadata.Device])

@import helper._

@main("Devices") {
    
    @flash_message()
    
    <h1>@devices.size() Devices(s)</h1>
		<table class="table table-striped table-bordered table-condensed">
			<tr>
	    	<td>URI</td>
	    	<td>Device Type</td>
	    	<td>Registration Time</td>    	
	    	<td>Location</td>
	    	<td>Operation</td>
	    </tr>

    	@for(device <- devices) {
    	<tr>
            <td>@device.getUri()</td>
            <td>@{ 
							val deviceType = device.getDeviceType()
							if(deviceType!=null) deviceType.getDeviceTypeName()
							}
						</td>
						<td>@device.getRegTimestamp()</td>
						<td>
						Longitude: @device.getLongitude()<br>
						Latitude: @device.getLatitude()<br>
						Altitude: @device.getAltitude()
						</td>
						<td>
						@form(routes.DeviceController.deleteDevice()){
               		 		<input name="idHolder" type="hidden" value="@device.getId()">
        							<input type="submit"  class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure you want to delete this item?')">
            }
						
						</td>
    	</tr>
        }
    </table>
    
    <h2>Add a new device</h2>
    
    @form(routes.DeviceController.newDevice()) {
        		
        		@inputText(
                deviceForm("uri"), 
                '_label -> "URI",
                '_error -> deviceForm.globalError                                
            )
        		@select(
        				deviceForm("deviceTypeName"), 
                options(metadata.DeviceType.allDeviceTypeName()),
        				'_label -> "Device Type Name",
                '_error -> deviceForm.globalError
        		)
        <div class="actions">
            <input type="submit" class="btn primary" value="Register">
            <a href="@routes.DeviceController.devices()" class="btn">Cancel</a>
        </div>
    }
    
}