@(deviceTypes: List[metadata.DeviceType], deviceTypeForm: play.data.Form[metadata.DeviceType])

@import helper._

@main("DeviceTypes") {
    
    <h1>@deviceTypes.size() Devices Type(s)</h1>
    <table class="table table-striped table-bordered table-condensed">
	    <tr>
	    	<td>Device Type Name</td>   
	    	<td>Manufacturer</td>
	    	<td>Version</td>
	    </tr>

    	@for(deviceType <- deviceTypes) {
    	<tr>
            <td>@deviceType.getDeviceTypeName()</td>
            <td>@deviceType.getManufacturer()</td>
            <td>@deviceType.getVersion()</td>
            
    	</tr>
        }
    </table>
    
    <h2>Add a new device type</h2>
    
    @form(routes.DeviceTypeController.newDeviceType()) {
                
        @inputText(deviceTypeForm("Name"))
         
        
        <input type="submit" value="Create">
        
    }
    
}