
@import helper._ 

@main("Carnegie Mellon University Sensor Data Storage"){

	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-6">
				<img src='@routes.Assets.at("images/firefly.jpg")' style="padding-bottom: 0;">
			</div>
			<div class="col-lg-6">
				<h1>Sensor Data Platform</h1>
				<p>A federated cloud platform for mobile data-centric service
					development and sharing.</p>
				<p>
					<a class="btn btn-lg btn-default"
						href="https://s3.amazonaws.com/SensorDataPlatform/WebApp/SDAS_Tutorial.pdf"
						target="_blank" role="button">Getting Started &raquo;</a>
				</p>
			</div>
		</div>
	</div>

	<!-- Content -->
	<div class="row">
		<div class="col-lg-4">
			<h2>Scalable</h2>
			<p>Scalable in both web services and data sets.</p>
		</div>
		<div class="col-lg-4">
			<h2>Aggregation of Data</h2>
			<p>Traverse the data of devices and their sensors.</p>
		</div>
		<div class="col-lg-4">
			<h2>Rich in Visualization</h2>
			<p>Multiple chart visualization, complex queries.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<h2>Github</h2>
			<p>
				All the code is currently hosted on Github. Feel free to contribute
				to this <a href="https://github.com/cmusv-sc">community</a>.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>TO DOs</h2>
			<p>
				Check the open <a
					href="https://github.com/cmusv-sc/ArchF2013-Project3-FT/issues?page=1&state=open">issues</a>
				on Github.
			</p>
		</div>
		<div class="col-lg-4">
			<h2>More information</h2>
			<p>
				For more information about this project, and a good general
				overview, see the <a
					href="https://docs.google.com/open?id=0B6VEjpK6RPgVN2Q1aDhRRjJid0U">slide
					deck</a> covering relevant features.
			</p>
		</div>
	</div>
}
