@(sensorTypes: List[metadata.SensorType], sensorTypeForm: play.data.Form[metadata.SensorType])

@import helper._

@main("Sensor Types") {
    
    <h1>@sensorTypes.size() Sensor Type(s)</h1>
    
    <ul>
        @for(sensorType <- sensorTypes) {
            <li>
                @sensorType.getSensorTypeName()
                @sensorType.getManufacturer()
                @sensorType.getVersion()
                @sensorType.getMaxValue()
                @sensorType.getMinValue()
                @sensorType.getUnit()
                @sensorType.getInterpreter()
                
                
                @form(routes.Application.deleteSensorType(sensorType.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new sensor type</h2>
    
    @form(routes.Application.newSensorType()) {
        
        @inputText(sensorTypeForm("label")) 
        
        <input type="submit" value="Create">
        
    }
    
}