@(sensors: List[metadata.Sensor], sensorForm: play.data.Form[metadata.Sensor]) 

@import helper._ 

@main("Sensors") {

	<h1>@sensors.size() Sensor (s)</h1>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Sensor Name</td>
			<td>Sensor Type</td>
			<td>Device URI</td>
		</tr>
	
		@for(sensor <- sensors) {
		<tr>
			<td>@sensor.getSensorName()</td>
			<td>@{ 
				val sensorType = sensor.getSensorType()
					if(sensorType!=null) {
						sensorType.getSensorTypeName()
					}
				}
			</td>
			<td>@{ 
				val device = sensor.getDevice()
				if(device!=null) device.getUri()
				}
			</td>
	
			<td>
				@form(routes.SensorController.deleteSensor(sensor.getId())) {
				<input type="submit" value="Delete"> }
			</td>
	
		</tr>
		}
	</table>
	<h2>Add a new sensor</h2>
	
	@helper.form(action = routes.SensorController.newSensor) {
        
        <fieldset>          
            
            @inputText(
                sensorForm("name"), 
                '_label -> "Sensor name",                 
                '_error -> sensorForm.globalError                                
            )
            
            <select>
		        <option>Sensor Type 1</option>
		        <option>Sensor Type 2</option>		        
		    </select>
    
            <select>
		        <option>Device 1</option>
		        <option>Device 2</option>		        
		    </select>            
           
        </fieldset>
        
      
        <div class="actions">
            <input type="submit" class="btn primary" value="Create">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
         
     }
}
