@(sensors: List[metadata.Sensor], sensorForm: play.data.Form[metadata.Sensor]) 

@import helper._ 

@main("Sensors") {
	
	@flash_message()
	
	<h1>@sensors.size() Sensor (s)</h1>
	<table class="table table-striped table-bordered table-condensed">
		<tr>
			<td>Sensor Name</td>
			<td>Sensor Type</td>
			<td>Device URI</td>
			<td>Operation</td>
		</tr>
	
		@for(sensor <- sensors) {
		<tr>
			<td>@sensor.getSensorName()</td>
			<td>@{ 
				val sensorType = sensor.getSensorType()
					if(sensorType!=null) {
						sensorType.getSensorTypeName()
					}
				}
			</td>
			<td>@{ 
				val device = sensor.getDevice()
				if(device!=null) device.getUri()
				}
			</td>
	
			<td>
			 @form(routes.SensorController.deleteSensor()){
               		 		<input name="idHolder" type="hidden" value="@sensor.getId()">
        							<input type="submit"  class="btn btn-danger" value="Delete">
               			}
               			
			</td>
	
		</tr>
		}
	</table>
	<h2>Add a new sensor</h2>
	
	@form(routes.SensorController.newSensor()) {
	
	 			@inputText(
                sensorForm("sensorName"), 
                '_label -> "Sensor Name",     
                'size -> 30,
                'placeholder-> "the name of this sensor",           
                '_error -> sensorForm.globalError                                
        )
	<input type="submit" value="Create">
	
	} 
}
